div {
    background-color: chocolate;
    float: left;
    width: 100px;
    margin: 0 10px;
    text-align: center;
}
.caja1{
    width: 200px;
    height: 50px;
    background-color: darkgray;
    display: none;
}
.caja2{
    width: 200px;
    height: 50px;
    background-color: rgb(177, 51, 51);
    clear: both;
}
.caja3{
    background-color: darkorange;
    width: 150px;
    height: 50px;
    display: inline;
}
.caja4{
    background-color: rgb(0, 204, 255);
    width: 150px;
    height: 50px;
    display: inline-block;
}
nav{
    background-color: greenyellow;
}
header{
    background-color: darkslategray;
    height: 150px;
    padding: 15px;
}
ul li{
    float: left;
    color: white;
    margin: 0 20px;
    list-style-type: none;
}
em{
    display: block;
}